/*Begin Make default admin menu wider*/
#adminmenu {
width:175px;
margin:15px 5px 15px -190px;
}

#wpbody {
margin-left:205px;
}

#submit {
	background: green none repeat scroll 0% 0% !important;
	height: 60px;
	font-weight: bold;
	font-size: 26px !important;
	width: 80%;
}

.earnings {
	margin: 30px 15px;
	font-weight: bold;
	font-size: 40px;
	color: green;
	float: right;
}

.bigbold {
	font-size: 11px;
	font-weight: bold;
}

.wp-insert-submit {
	text-align: center;
}

.GreyOutLayer
{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	bottom: 0px;
	background-color: #666;
	z-index: 100;
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity = 30);
	opacity: 0.30;
}

#popUpMaster{position:relative;padding:10px 0 0 10px;display:none}
#popUpTopLft{position:absolute;left:0px;top:0}
#popUpTop{position:absolute;left:10px;top:0;height:36px;z-index:9}
#popUpTopRgt{position:absolute;right:0px;top:0;z-index:9}
#popUpLft{position:absolute;left:0px;top:30px;width:17px;}
#popUpRgt{position:absolute;right:0px;top:36px;width:26px;}
#popUpBtmLft{position:absolute;left:0px;bottom:0px;}
#popUpBtm{position:absolute;left:17px;bottom:0px;height:20px}
#popUpBtmRgt{position:absolute;right:0px;bottom:0px;}
#popUpMaster #content{background:#F2F2F2;height:520px;width:725px;margin:0px;z-index:100;position:absolute;top:26px;right:15px;}
.closePopUp{display:block;position:absolute;right:10px;top:4px;width:20px;height:18px;z-index:10;text-decoration:none;background:none}
#popUpMaster h4{position:absolute;top:0;left:0;z-index:10;padding:0;margin:6px 0 0 10px;color:#333333;text-shadow:0 1px 0 #FFFFFF;
	font-family:Arial, Helvetica, sans-serif;font-size:12px;line-height:15px;cursor:move;background:nonImage.gif;
	width:100%}
/*End Make default admin menu wider*/

.multipleSelectBoxControl div select option {
	font-size: 10px;
	padding: 0px;
}

#wp_insert_page_list {
list-style: none;
}

#wp_insert_page_list li {
display: block;
padding: 5px 10px; margin-bottom: 3px;
background-color: #efefef;
}

#wp_insert_page_list li img.handle {
margin-right: 20px;
cursor: move;
}

.column-postID {
	width: 3em;
}